{% extends 'base.html' %}
{% block content %}
    <h2>Наши ресурсы</h2>
    <div class="resources-grid">
        {% for item in resources %}
            <div class="resources-card">
                <h3>{{ item.title }}</h3>
                <p class="stock">{{ item.stock}}</p>
                <p class="price">{{ item.price}} руб</p>
                {% if item.is_available %}
                    <p class="stock-yes">В наличии</p>
                {% else %}
                    <p class="stock-no">Нет в наличии</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}